<footer class="border border-gray-400 p-4" id="footer">
  <div class="flex justify-between h-30">

    <!-- Title -->
    <div class="flex gap-4">
      <img src="./content/system³_logo_transparent_black.png" alt="system³ Logo" class="h-30 w-30" />
      <div class="flex flex-col justify-center">
          <div class="text-3xl font-bold">Joost Helfers | system³</div>
          <div class="text-xl">Creative Technology & Digital Twins</div>
      </div>
    </div>

    <!-- Navigation -->
    <nav class="flex gap-4 justify-center items-center">
      <a href="#Header" class="hover:font-bold">Home</a>
      <a href="#Intro" class="hover:font-bold">Who is Joost?</a>
      <a href="#Work" class="hover:font-bold">Portfolio</a>
      <a href="#Expertise" class="hover:font-bold">Services</a>
      <a href="#Feed" class="hover:font-bold">Updates</a>
      <a href="#footer" class="font-bold hover:bg-gray-200 rounded p-4">Contact</a>
    </nav>

  </div>

  <div class="flex justify-center">
    <a href="mailto:joosthelfers.com">
      <button class="hover:bg-gray-200 font-bold py-4 px-60 rounded text-xl" href="mailto:mail@joosthelfers.com">
        Write me an E-Mail!
      </button>
    </a>
  </div>  
</footer>